body {
  font-family: "Pretendard Variable";
}
.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.head-line svg {
  width: 430px;
}
.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px solid black;
  border-bottom-style: double;
}
.form-control {
  width: 30%;
}
.form-control:focus {
  border-color: black;
  box-shadow: none;
}

.menus button {
  border: none;
  background: none;
  margin: 5px;
}
.menus button:hover {
  background-color: rgb(208, 202, 152);
}
.news-img-size {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}
.news {
  border-bottom: 2px solid black;
  padding: 5px;
}
.search-area {
  margin-top: 5px;
  display: flex;
}
.search {
  border: 1px solid black;
}
.pageNav {
  display: flex;
  justify-content: center;
}
.pagination {
  padding-top: 2em;
}
