* {
    box-sizing: border-box;
}
body {
    margin : 0;
    padding : 0;
}
#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.col {
    border : 1px dotted red;
    display: flex;
    flex-direction: column;
}
.w10 {
    width : 10%;
    align-items: center;
} 
.w20 {
    width : 20%
}
.w70 {
    width : 70%
}
.icon {
    border: 1px dotted green;
    width: 100px;
    height: 100px;
    margin: 20px;
}
.row {
    border : 1px dotted blue;
    margin : 5px 10px;
}
.h40 {
    flex : 2 0 auto;
}
.h20 {
    flex : 1 0 auto;
}
.h80 {
    flex : 4 0 auto;
}